doctype html
html
  head
    title markdown
    link(href="/markdown/css/app.css",rel="stylesheet")

  body
    div#editor
      textarea(v-model="input")
      div(v-html="input | marked")

    script(src="/lib/vue/vue.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.1/marked.min.js")
    script(src="/markdown/js/app.js")